@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Universal Selectors */
* {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;;
    color: aliceblue;
}

:root {
    --dark: #164863;
    --med: #427D9D;
    --light: #DDF2FD;
}

body{
    background-color: var(--med);
}

h1 {
    margin: 10px 15px;
}

h2 {
    margin: 10px 15px;
}

.card {
    margin: 0px 0px 15px 0px;
}

/* Left Side of Page */
form{
    margin: 15px;
}
button {
    margin: 10px 0px 0px 15px;
    width: 100%;
    border-radius: 5px;
    border: solid transparent;
    background-color: var(--med);
}

button:hover {
    background-color: var(--light);
    color: var(--dark);
}

.btn-primary {
    margin: 10px 0px;
    background-color: var(--med);
    color: var(--dark);
}

.btn-primary:hover {
    background-color: #9BBEC8;
}

#left {
    background-color: var(--dark);
}

#search-list {
    text-align: center;
    margin-right: 20px;
  }

/* Right Side of Page */
.currentForecastCard{
    background-color: var(--light);
}

.currentForecastCard h3{
    color: var(--dark);
}

.currentForecastCard p{
    color: var(--dark);
}

.futureForcastCard {
    background-color: var(--dark);
}